:root{
    --offcanvas-width:270px;
    --topNabarHeight:56px;
}
.sidebar-nav {
    width: var(--offcanvas-width);
}
@media (min-width:992px) {
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        /* top: var(--topNabarHeight);
        height: calc(100% - var(--topNabarHeight)); */
    }
}
.sidebar-link{
    display: flex;
    align-items: center;
}
.sidebar-link .right-icon {
    display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}
.sidebar li a:hover {
    background-color: #0D6EFD;
}
.sidebar .active {
    background-color: #0D6EFD;
}

